<ul>
  <li
    *ngFor="let v of videoList"
    (click)="selectVideo(v)"
    [class.selected]="v.id === selectedVideo?.id"
  >
    <app-video-list-item [video]="v"></app-video-list-item>
  </li>
</ul>
