<form [formGroup]="filters" (ngSubmit)="logTheForm()">
  <label for="nameCtrl">Name</label>
  <input id="nameCtrl" formControlName="name" />
  <br />
  <label for="titleCtrl">Title</label>
  <input id="titleCtrl" formControlName="title" />
  <br />
  <button>Log</button>
</form>
