<app-video-list
  [videoList]="videos | async"
  (setSelectedVideo)="setVideo($event)"
></app-video-list>
<app-video-player [video]="selectedVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
